<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.com.cs478proj3a3">

    <uses-permission android:name="edu.uic.cs478.project3" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BasketballActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            />
        <activity android:name=".BaseballActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation"/>

        <receiver
            android:name=".SportsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="edu.uic.cs478.project3">
            <intent-filter android:priority="50">
                <action android:name="edu.uic.cs478.project3.sportsBroadcast" />

                <category android:name="edu.uic.cs478.project3.showToastBasketball" />
            </intent-filter>
            <intent-filter android:priority="50">
                <action android:name="edu.uic.cs478.project3.sportsBroadcast" />

                <category android:name="edu.uic.cs478.project3.showToastBaseball" />
            </intent-filter>
        </receiver>

    </application>

</manifest>